* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --maingrey: rgb(247, 247, 247);
    --hovergrey: rgb(231, 231, 231)
}

body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

.content {
    flex: 1 0 auto;
    min-height: 100vh;
    border-inline: 1px solid var(--maingrey);
}

.content p {
    word-break: break-all;

}

section {
    margin: 0;
    padding: 0;
    padding-block: 5rem;
    min-width: 100%;
    min-height: 100vh;
}

.page-title {
    display: flex;
    border-bottom: 1px solid var(--maingrey);
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    min-height: 100px;
    font-weight: 900;
    color: #212121;
    font-size: 1.5rem;
    padding: 1rem;
}

.page-title a {
    color: #212121;
    font-weight: 900;

}

.page-title div {
    position: fixed;
}

.header-post {
    margin-top: 35px;
}

.header-post button {
    border-radius: 50px;
}

.header-post input {
    min-width: 350px;
    right: 0;
    border: none;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0);
}

.header-post input:focus {
    outline: none;
}

.header-post #job_name {
    font-size: large;
}

.header-post #job_desc {
    font-size: small;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    bottom: 5%;
    z-index: 999;
}

#pager a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}


.post-it-dropdown {
    background: rgba(134, 140, 141, 0.712);
    overflow: hidden;
    padding: 0.2em;
    border-radius: 0 0 0 30px/45px;
    box-shadow:
        inset 0 -40px 40px rgba(0, 0, 0, 0.2),
        inset 0 25px 10px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
    cursor: pointer;
}

.post-it-dropdown a:hover {
    background: rgba(0, 51, 255, 0.052);
}


.footer-socials {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;
}

.footer-socials a {
    text-decoration: none;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
}

.about a {
    text-decoration: none;
}

@media screen and (max-width: 40em) {
    .content div {
        padding: 0.8rem;
    }

    .post {
        width: 100%;
        padding: 0.5rem;
    }

    #userActions {
        display: none !important;
    }
}

.post {
    border-block: 1px solid var(--maingrey);
}

.post:hover {
    background: var(--maingrey);
}

.post p {
    max-width: fit-content;
}

.post div {
    padding: 0.3rem;
}

.left-panel {
    left: 0;
    min-height: 90vh;
}

.left-panel div {
    position: fixed;

}

.left-panel a {
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    color: #212121;
    padding: 1rem;
    border-radius: 50px;
}

.left-panel a:hover {
    background-color: var(--hovergrey);
    border-radius: 50px;
}

.right-panel {
    right: 0;
    min-height: 90vh;
}

.right-panel div {
    position: fixed;

}

.avatarDiv {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-fluid {
    margin-top: 35px;
}