body,
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

#pager a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.post-it {
    width: 100%;
    height: fit-content;
    background: rgba(165, 182, 245, 0);
    overflow: hidden;
    margin: 30px auto;
    padding: 20px;
    border-radius: 0 0 0 30px/45px;
    box-shadow:
        inset 0 -40px 40px rgba(0, 0, 0, 0.2),
        inset 0 25px 10px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.5);
    font-family: Consolas;
    line-height: 1.7em;
    font-size: 15px;
}

.post-it-dropdown {
    background: rgba(116, 224, 243, 0);
    overflow: hidden;
    padding: 0.2em;
    border-radius: 0 0 0 30px/45px;
    box-shadow:
        inset 0 -40px 40px rgba(0, 0, 0, 0.2),
        inset 0 25px 10px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
    cursor: pointer;
}

.post-it-dropdown a:hover {
    background: rgba(177, 159, 230, 0.315);
}

.home-container {
    background-color: rgba(3, 62, 43, 0.644);
}

.footer-socials {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.5em;
}

.footer-socials a {
    text-decoration: none;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
    text-align: justify;
}

.about a {
    text-decoration: none;
}