.post-it {
    width: 250px;
    height: 240px;
    background: #ffa;
    overflow: hidden;
    margin: 30px auto;
    padding: 20px;
    border-radius: 0 0 0 30px/45px;
    box-shadow:
        inset 0 -40px 40px rgba(0, 0, 0, 0.2),
        inset 0 25px 10px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Permanent Marker', cursive;
    line-height: 1.7em;
    font-size: 15px;
}

.post-it-dropdown {
    background: #ffa;
    overflow: hidden;
    padding: 0.2em;
    border-radius: 0 0 0 30px/45px;
    box-shadow:
        inset 0 -40px 40px rgba(0, 0, 0, 0.2),
        inset 0 25px 10px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
    cursor: pointer;
}

.post-it-dropdown a:hover {
    background: rgba(100, 100, 63, 0.582);
}

.footer-socials {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.5em;    
}

.footer-socials a {
    text-decoration: none;
}