* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --maingrey: rgb(247, 247, 247);
    --hovergrey: rgb(231, 231, 231);
    --primary: #0D6EFD;
    --link-text: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

body,
html {
    height: 100%;
}

.side-text {
    padding-inline: 60px;
}

#sidebarTask {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: #F2F2F2;
}

#sidebarTask::before {
    content: "Nova Tarefa";

}

.content {
    min-height: 100vh;
    border-inline: 1px solid var(--maingrey);
    width: 50%;
}

.content p {
    word-break: break-all;

}

section {
    margin: 0;
    padding: 0;
    padding-block: 5rem;
    min-width: 100%;
    min-height: 100vh;
}

.page-title {
    display: flex;
    border-bottom: 2px solid var(--maingrey);
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    min-height: 70px;
    font-weight: 900;
    color: #212121;
    font-size: var(--link-text);
    padding: 1rem;
    z-index: 999;
    width: 50%;
    position: fixed;
}

.page-title a {
    color: #212121;
    font-weight: 900;

}

.page-title input {
    background-color: rgba(0, 0, 0, 0);

}

.page-title input:focus {
    background-color: rgba(0, 0, 0, 0);
}

.search-footer {
    margin-top: 8%;
}

.header-post {
    margin-top: 35px;
}

.header-post button {
    border-radius: 50px;
}

.header-post input {
    min-width: 350px;
    right: 0;
    border: none;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0);
}

.header-post input:focus {
    outline: none;
}

.header-post #job_name {
    font-size: large;
}

.header-post #job_desc {
    font-size: small;
}

.header-post select {
    border-radius: 50px;
    color: var(--primary);
    border-color: var(--hovergrey);
    outline: var(--hovergrey);
    padding: .3rem;
    font-weight: 500;

}

#privacy_select * {
    font-weight: 500;

}

.footer {
    width: 100%;
    bottom: 5%;
    z-index: 999;
}

#pager a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.post-it-dropdown {
    background: rgba(134, 140, 141, 0.712);
    overflow: hidden;
    padding: 0.2em;
    border-radius: 0 0 0 30px/45px;
    box-shadow:
        inset 0 -40px 40px rgba(0, 0, 0, 0.2),
        inset 0 25px 10px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
    cursor: pointer;
}

.post-it-dropdown a:hover {
    background: rgba(0, 51, 255, 0.052);
}


.footer-socials {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;
}

.footer-socials a {
    text-decoration: none;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
}

.about a {
    text-decoration: none;
}

#userActions a div span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bar {
    display: none;
}

.post {
    border-block: 1px solid var(--maingrey);
}

.post:hover {
    background: var(--maingrey);
}

.post p {
    max-width: fit-content;
}

.post div {
    padding: 0.3rem;
}

.left-panel {
    left: 0;
    min-height: 90vh;
    width: 25%;

}

.left-panel div {
    position: fixed;

}

.left-panel a {
    text-decoration: none;
    display: block;
    font-size: var(--link-text);
    font-weight: 900;
    color: #212121;
    padding: 1rem;
    border-radius: 50px;
}

.left-panel a:hover {
    background-color: var(--hovergrey);
    border-radius: 50px;
}

.right-panel {
    right: 0;
    min-height: 90vh;
    width: 25%;

}

.right-panel div,
.right-panel form {
    position: fixed;

}

.left-panel .icon {
    font-size: 2.5rem;
}

.avatarDiv {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.container-fluid {
    margin-top: 10%;
}

.search button {
    border-right: none;
    border-radius: 50px 0px 0px 50px;
    border-color: var(--primary);
    color: var(--primary);
    pointer-events: stroke;
}

.search button:hover {
    color: var(--primary);
    border-color: var(--primary);

}

.search button:active {
    color: var(--primary) !important;
    border-color: var(--primary) !important;

}

.search input {
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    border-color: var(--primary);
    margin-right: 5px;
}

.search input:focus {
    outline: none;
    border-color: var(--primary);

}

@media screen and (max-width: 1400px) {
    .content {
        width: 65%;
    }

    .left-panel {
        width: 8% !important;
    }

    .right-panel {
        width: 25% !important;
    }

    .page-title {
        width: 65%;
    }

    .footer {
        bottom: 10%;
    }

    #userActions span {
        display: none;
    }

    #userActions a {
        border-radius: 5px;
    }

    #sidebarTask::before {
        font-family: "Font Awesome 5 Free";
        content: "\f31c";
        font-weight: 900;
        display: flex;
        align-items: center;

    }

    #sidebarTask {
        border-radius: 50% !important;

    }

    .left-panel .icon {
        font-size: 2.5rem !important;
    }

}

@media screen and (max-width: 768px) {
    .content {
        width: 100% !important;
        right: 0 !important;
        margin-left: auto;
    }

    .page-title {
        width: 100% !important;
        right: 0;
    }

    .right-panel,
    .left-panel {
        display: none !important;
    }

    .task-bar {
        display: flex;
        justify-content: space-around;
        position: fixed;
    }

    nav {
        padding: .5rem;
        overflow: hidden;
        background: var(--primary);
        color: #F2F2F2;
        font-weight: 900;
        font-size: 2rem;
        width: 100%;
        bottom: 0;
        position: fixed;
        right: 0;
        z-index: 999;
    }


}