@import url('https://fonts.cdnfonts.com/css/friz-quadrata-std');

:root {
    --maingrey: #F7F7F7;
    --hovergrey: #E7E7E7;
    --primary: #0D6EFD;
    --white: #F2F2F2;
    --black: #212121;
    --transparent: #00000000;
    --link-text: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

body,
html {
    height: 100vh;

}

.assn-text {
    font-family: 'Friz Quadrata Std', sans-serif;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
}

.reply-textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.side-text {
    padding-inline: 60px;
}

#sidebarTask {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
}

#sidebarTask::before {
    content: "Nova Tarefa";

}

.content {
    top: 0;
    bottom: 0;
    margin: 0 auto;
}

.content section {
    width: 50%;
    margin: 0 auto;
    padding: .65rem;
    padding-block: 5rem;
    border-inline: 2px solid var(--maingrey);
    min-height: 100vh;

}

.bottom-space {
    height: 100px;
}

.page-title {
    display: flex;
    border-bottom: 2px solid var(--maingrey);
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    min-height: 70px;
    font-weight: 900;
    font-size: var(--link-text);
    padding: 1rem;
    position: fixed;
    width: 49.9%;
    top: 0;
}

.page-title a {
    color: var(--black);
    font-weight: 900;

}

.page-title p {
    white-space: nowrap;
    max-width: 50ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page-title input {
    background-color: var(--transparent);

}

.page-title input:focus {
    background-color: var(--transparent);
}

.search-footer {
    margin-top: 8%;
}

.header-post {
    margin-top: 35px;
    border-bottom: 2px solid var(--maingrey);
    padding-bottom: 5px;
}

.header-post button {
    border-radius: 50px;
}

.header-post input {
    max-width: 350px;
    right: 0;
    border: none;
    padding: 0.5rem;
    background: var(--transparent);
}

.header-post input:focus {
    outline: none;
}

.header-post input[type="text"] {
    font-size: 3rem;
}

.header-post textarea {
    resize: none;
    outline: none;
    right: 0;
    border: none;
    background: var(--transparent);
    font-size: 1.5rem;
    overflow: hidden;
}

.header-post select {
    border-radius: 50px;
    color: var(--primary);
    border-color: var(--hovergrey);
    outline: var(--hovergrey);
    padding: .3rem;
    font-weight: 500;

}

#privacy_select * {
    font-weight: 900 !important;
    font-family: 'Font Awesome\ 5 Free';

}

#privacy_select {
    font-weight: 900 !important;
    font-family: 'Font Awesome\ 5 Free';
    transition: all ease-in 5.5s;

}

.footer {
    width: 100%;
    bottom: 5%;
    z-index: 999;
}

.footer-socials {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;
}

.footer-socials a {
    text-decoration: none;
}

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7em;
}

.about a {
    text-decoration: none;
}

#userActions a div span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bar {
    display: none;
}

.post-container {
    border-bottom: 2px solid var(--maingrey) !important;

}

.post-container img {
    border-radius: 50%;
    display: inline;
}

.post-container .user-img {
    float: left;
}

.post-container .user-info {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

}

.post-container .user-post-text {
    margin-left: 55px;
    padding-right: .5rem;
    font-family: Consolas, monaco, monospace;

}

.post-container .user-post-footer {
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
    bottom: 0;

}

.post:hover {
    background: var(--maingrey);
}

.post-container span {
    max-width: 80ch;
    word-wrap: break-word;
    word-break: normal;
}

.post-container .user-name {
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
}

.post div {
    padding: 0.1rem;
}

.left-panel {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-y: scroll;
    width: 25%;

}

.left-panel a {
    text-decoration: none;
    display: block;
    font-size: var(--link-text);
    font-weight: 900;
    color: var(--black);
    padding: 1rem;
    border-radius: 50px;

}

.left-panel a:hover {
    background-color: var(--hovergrey);
    border-radius: 50px;
}

.right-panel {
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 25%;

}

.left-panel .icon {
    font-size: 2.5rem;

}

.avatarDiv {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;

}

.container-fluid {
    margin-top: 15%;

}

.search button {
    border-right: none;
    border-radius: 50px 0px 0px 50px;
    border-color: var(--primary);
    color: var(--primary);
    pointer-events: stroke;
}

.search button:hover {
    color: var(--primary);
    border-color: var(--primary);

}

.search button:active {
    color: var(--primary) !important;
    border-color: var(--primary) !important;

}

.search input {
    border-left: none;
    border-radius: 0px 50px 50px 0px;
    border-color: var(--primary);
    margin-right: 5px;
}

.search input:focus {
    outline: none;
    border-color: var(--primary);

}


.task-bar {
    display: none;
}

#navbarTask {
    visibility: hidden;
    position: absolute;
    z-index: 999;
}

.post-actions {
    margin-bottom: 5px;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
}

.post-actions a {
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.post-actions span {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: .7rem;
}

.users-liked a {
    text-decoration: none;
}

.users-liked img {
    border-radius: 50%;
}

@media screen and (max-width: 1400px) {
    .header-post {
        margin-top: 55px;
    }

    .content section {
        width: 65%;
        margin-left: 9%;
    }

    .left-panel {
        width: 8% !important;
    }

    .right-panel {
        width: 27% !important;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .side-text {
        padding: 0;
    }

    .page-title {
        width: 64.8%;
        margin: 0;
    }

    #userActions span {
        display: none;
    }

    #userActions {
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    #userActions a {
        border-radius: 5px;
    }

    #sidebarTask::before {
        font-family: "Font Awesome 5 Free";
        content: "\f31c";
        font-weight: 900;
        display: flex;
        align-items: center;
    }

    #sidebarTask {
        background: var(--transparent);
        color: var(--primary);
        border-radius: 50% !important;
        font-size: 2.5rem;

    }

    .left-panel .icon {
        font-size: 2.5rem !important;
    }
}

@media screen and (max-width: 1200px) {

    .header-post {
        margin-top: 55px;
    }

    .content section {
        width: 65%;
        margin-left: 9%;
    }

    .left-panel {
        width: fit-content !important;
    }

    .right-panel {
        width: 25% !important;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .side-text {
        padding: 0;
    }

    .page-title {
        width: 64.8%;
    }

    #userActions span {
        display: none;
    }

    #userActions a {
        border-radius: 5px;
    }

    #userActions {
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
    }

    #sidebarTask::before {
        font-family: "Font Awesome 5 Free";
        content: "\f31c";
        font-weight: 900;
        display: flex;
        align-items: center;

    }

    #sidebarTask {
        border-radius: 50% !important;

    }

    .left-panel .icon {
        font-size: 2.5rem !important;
    }

}

@media screen and (max-width: 992px) {
    .post-container {
        border-bottom: 2px solid var(--maingrey) !important;

    }

    .page-title {
        width: 64.6%;
    }

    .content section {
        width: 65%;
        margin-left: 9%;
    }

    .left-panel {
        width: 10% !important;
    }

    .right-panel {
        width: 25% !important;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .post-container {
        border-bottom: 2px solid var(--maingrey) !important;

    }

    section {
        border-inline: none !important;
    }

    .header-post {
        margin-top: 60px !important;
    }

    .post-container .user-name {
        font-weight: 500;
        color: var(--black);
        white-space: nowrap;
        max-width: 15ch;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .header-post input,
    .header-post textarea {
        width: 250px;
    }

    .content section {
        width: 100%;
        margin: 0;
        height: 100vh !important;
    }

    .page-title {
        width: 100%;
        font-size: 1rem;
    }

    .page-title p {
        white-space: nowrap;
        max-width: 33ch;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .right-panel,
    .left-panel {
        display: none !important;
    }

    .task-bar {
        display: block;
        background: var(--primary);
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999;
    }

    .task-bar ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-around;
        margin-right: 2rem;
    }

    .task-bar ul li {
        display: flex;
        align-items: center;
        vertical-align: middle;
    }

    .task-bar a {
        color: #F2F2F2;
        font-weight: 900;
        font-size: 2rem;
        padding-top: .7rem;
    }

    #navbarTask {
        visibility: visible;
        background: var(--transparent);
        color: var(--primary);
        border-radius: 50% !important;
        font-size: 2rem;
        position: absolute;
        bottom: 10%;
        z-index: 999 !important;
        right: 3%;

    }

    .job-title {
        font-size: 1rem !important;
        font-weight: 900;
    }


}